@use '../generals/mixins' as *;

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  gap: var(--size-700);
  padding: var(--size-500);
  border: 1px solid var(--color-border-secondary);
  border-radius: var(--size-400);
  box-shadow: var(--box-shadow-dp1);

  .banner__content {
    // flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .banner__title {
      display: flex;
      align-items: center;
      gap: var(--size-100);
      text-align: center;

      .banner__title-icon {
        width: 1.5em;
        height: 1.5em;
        flex-shrink: 0; // Prevent icon from shrinking
      }

      i.banner__title-icon {
        width: auto;
        height: auto;
        font-size: 1.5em;
        line-height: 1;
      }
    }

    .banner__text {
      text-align: center;
    }

    @include media-up($breakpoint-lg) {
      align-items: flex-start;
      justify-content: flex-start;

      .banner__title {
        text-align: left;
      }

      .banner__text {
        text-align: left;
      }
    }
  }

  .banner__actions {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--size-400);
    align-items: center;
    justify-content: center;
  }

  &.banner--primary {
    background: var(--color-brand-gradient);

    .banner__title {
      color: var(--color-neutral-0);
    }

    .banner__text {
      color: var(--color-neutral-0);
    }
  }

  &.banner--secondary {
    background-color: var(--color-surface-primary);

    .banner__title {
      color: var(--color-text-primary);
    }

    .banner__text {
      color: var(--color-text-secondary);
    }
  }
}