// Variables

.btn {
	width: max-content;
	height: 34px;
	padding: 8px 12px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none; //for A links converted in buttons
	overflow: hidden;
	font-size: var(--fs-300) !important;
	font-weight: var(--fw-medium) !important;
	text-transform: uppercase !important;
	transition: all .2s ease-out;
	cursor: pointer;
	.btn-icon {
		display: flex;
		align-items: center;
		justify-content: center;
		&--left {
			margin-right: .5rem;
		}
		&--right {
			margin-left: .5rem;
		}
		.rotate {
			transform: rotate(-135deg);
		}
	}
	.btn-text {}
}

.btn-primary {
	background: $color-gradient;
	border-radius: 8px;
	.btn-text {
		color: $color-neutral-white !important;
	}
	.btn-icon {
		color: $color-neutral-white !important;
	}
}
.btn-secondary {
	background: linear-gradient(#fafafa, #fafafa) padding-box, $color-gradient border-box;
	border: 1px solid transparent;
	border-radius: 8px;
	.btn-text {
		background: $color-gradient;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	.btn-icon {
		color: $color-accent !important;
	}
}
.btn-tertiary {
	color: $color-primary !important;
}
.btn-primary,
.btn-secondary,
.btn-tertiary {
	&:hover {
		transform: translateY(-3px);
	}
}