.chip-list {
    display: flex;
    flex-flow: row wrap;
    list-style-type: none;
    gap: 5px;
    .chip {
        width: max-content;
        height: 30px;
        padding: .5rem .8rem;
        display: flex;
        align-items: center;
        font-size: var(--fs-200);
        font-weight: var(--fw-medium);
        text-align: center;
        text-transform: uppercase;
        border-radius: 8px;
        box-shadow: $box-shadow-dp1;
        text-decoration: none;
        i {
            margin-right: .25rem;
            font-size: 14px;
        }
        a {
            text-decoration: none;
            color: $color-neutral-white !important;
        }
        &__portfolio--section {
            background: $color-primary;
            color: $color-neutral-white !important;
        }
        &__portfolio--category {
            background-color: $color-primary ;
            color: $color-neutral-white !important;
            z-index: 1;
        }
        &__portfolio--sub-category {
            background-color: $color-neutral-white;
            color: $color-primary !important;
            margin-left: -20px;
            padding-left: 24px !important;
            text-transform: capitalize;
        }
        &__blog--section {
            background: $color-accent;
            color: $color-neutral-white !important;
        }
        &__blog--category {
            background-color: $color-accent ;
            color: $color-neutral-white !important;
            z-index: 1;
        }
        &__blog--sub-category {
            background-color: $color-neutral-white;
            color: $color-accent !important;
            margin-left: -20px;
            padding-left: 24px !important;
            text-transform: capitalize;
        }
        &__portfolio--tags {
            font-weight: var(--fw-regular);
            // text-transform: lowercase;
            background-color: $color-neutral-white;
            color: $color-primary !important;
            border: 1px solid $color-primary;
        }
        &__blog--tags {
            font-weight: var(--fw-regular);
            // text-transform: lowercase;
            background-color: $color-neutral-white;
            color: $color-accent !important;
            border: 1px solid $color-accent;
        }
    }
}