@use '../generals/colors' as *;

.site-footer {
    position: relative;
    z-index: 2;
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--size-500) var(--size-500);
    background-color: var(--color-surface-page);
    &>* {
        margin-block: var(--size-200);
    }

    .site-info {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &::before,
    &::after {
        content: none;
    }
}

@media (min-width: 992px) {
    .site-footer {
        flex-direction: row;
        &>* {
            margin: 0;
        }
    }
}