.site-footer {
    min-height: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: var(--size-500);
    background-color: $color-neutral-700;
    
    &>* {
        margin-block: var(--size-200);
    }

    .logo {
        img {        
            filter: invert(60%) !important;
        }
        div {
            span:first-of-type {
                color: $color-neutral-500;
            }
            span:last-of-type {
                background: none;
                -webkit-background-clip: none;
                -webkit-text-fill-color: unset;
                color: $color-neutral-500;
            }
        }
    }

    .presentation__icons {}

    .site-info {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: var(--size-400);
    }
    &::before,
    &::after {
        content: none;
    }
}

@media (min-width: 991px) {
    .site-footer {
        padding-block: var(--size-200);
        padding-inline: var(--size-500);
        flex-direction: row;
        &>* {
            margin: 0;
        }
        .logo {}
        .presentation__icons {}
        .site-info {
            flex-direction: row;
            gap: var(--size-50);
        }
    }
}