@use 'spinner' as *;

.logo {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    position: relative; // Necesario para que el pseudo-elemento ::after se posicione correctamente
    padding: var(--size-100);
    &::before {
        position: absolute;
        top: 0;
        left: 0;
        @include spinner-ring;
    }
    // &::after {
    //     position: absolute;
    //     bottom: 2px;
    //     right: 2px;
    //     @include availability;
    // }
    // Position the indicator dot over the bottom-right of the logo.
    .availability-indicator {
        position: absolute;
        bottom: 2px;
        right: 2px;
        z-index: 1; // Ensure it's above the logo image.
    }
}