// --- Logotipo Component ---
// Styles for the text-based logo displayed within the navigation panel.
@use '../generals/mixins' as *;

.logotipo {
    & > * {
        margin: 0;
        line-height: 1;
    }
    .logotipo__name {
        font-size: var(--fs-400);
        font-weight: var(--fw-medium);
        @include truncate-text;
    }
    .logotipo__tagline {
        display: block;
        width: 100%;
        @include truncate-text;
    }
}