.menu-container {
    .menu {
        display: flex;
        margin: 0 -.5rem;
        li {
            width: max-content;
            height: 30px;
            display: flex;
            align-items: center;
            text-align: center;
            text-transform: uppercase;
            transition: all .2s ease-in-out;
            a {
                color: $color-primary--lighter !important;
                text-decoration: none;
                    i {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin: 0 .25rem 0 0;
                    }
                &:hover {
                    color: $color-primary !important;
                }
            }
            
            // Home > ".current_page_item"
            // Portfolio > ".current_page_parent"
            // Blog > ".current_page_item"
            
            &.current_page_item,
            &.current_page_parent {
                a {
                    color: $color-primary !important;
                }
            }

            &#menu-item-2919 { //Specific for Blog menú item
                a {
                    color: $color-accent--lighter !important;
                }
                &:hover {
                    a {
                        color: $color-accent !important;
                    }
                }
                &.current_page_item {
                    a {
                        color: $color-accent !important;
                    }
                }
            }
        }
    }
}