.menu-container {
    .menu {
        display: flex;
        margin: 0 -.5rem;
        li {
            width: max-content;
            height: 30px;
            display: flex;
            align-items: center;
            text-align: center;
            text-transform: uppercase;
            transition: all .2s ease-in-out;
            a.btn {
                text-decoration: none;
                    i {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin: 0 .25rem 0 0;
                    }
            }
            &:not(.current_page_parent) {
                a.btn {
                    color: $color-primary--lighter !important;
                }
                &:hover {
                    a {
                        color: $color-primary !important;
                    }
                }
            }
            &.current_page_item {
                a.btn {
                    color: $color-primary !important;
                }
            }
        }
    }
}