.navigation {
    position: fixed;
    top: -147px;
    width: 100%;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    padding: var(--size-500);
    background-color: $color-neutral-white;
    box-shadow: $box-shadow-dp2;
    transition: .3s;
    .menu-container {
        .menu {
            display: flex;
            gap: 1.2rem;
            li {
                width: max-content;
                height: max-content;
                display: flex;
                align-items: center;
                text-align: center;
                transition: all .2s ease-in-out;
                a {
                    padding: 8px 0 !important;
                    color: $color-primary--lighter !important;
                        .btn-icon {}
                        .btn-text {
                            display: flex;
                        }
                    &:hover {
                        color: $color-primary !important;
                    }
                }
                
                // Home > ".current_page_item"
                // Portfolio > ".current_page_parent"
                // Blog > ".current_page_item"
                
                &.current_page_item,
                &.current_page_parent {
                    a {
                        color: $color-primary !important;
                        border-bottom: 1.5px solid $color-primary;
                        transform: unset;
                        transition: unset;
                        cursor: default;
                    }
                }

                //Specific for Blog menú item
                &.menu-item-blog,
                &#menu-item-2874,
                &#menu-item-2919 { 
                    a {
                        color: $color-accent--lighter !important;
                    }
                    &:hover {
                        a {
                            color: $color-accent !important;
                        }
                    }
                    &.current_page_item {
                        a {
                            color: $color-accent !important;
                            border-bottom: 1.5px solid $color-accent;
                        }
                    }
                    &.current_page_parent {
                        a {
                            color: $color-accent !important;
                            border-bottom: 1.5px solid $color-accent;
                        }
                    }
                }

                &:first-child {  //home button
                    a {
                        .btn-icon--left {
                            margin: 0;
                        }
                        .btn-text {
                            display: none !important;
                        }
                    }
                }
            }
        }
    }
}
@media (min-width: 992px) {
    .navigation {
        position: sticky;
        top: 0;
        justify-content: flex-start;
        padding-inline: var(--size-700);
        padding-block: var(--size-600);
        box-shadow: unset;
        .btn-primary {
            display: none;
        }
        .menu-container {
            .menu {
                li {
                    a {
                        .btn-text {
                            display: flex !important;
                        }
                    }
                    
                    &.current_page_item,
                    &.current_page_parent {
                        a {}
                    }

                    &:first-child {  //home button
                        a {
                            .btn-icon--left {
                                margin-right: .5rem;
                            }
                            .btn-text {
                                display: flex !important;
                            }
                        }
                    }
                }
            }
        }
    }
}


.active {
    top: 0;
}