.main-navigation {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: var(--size-500) var(--size-600) var(--size-500) 0;
    gap: 1rem;
    background-color: $color-neutral-200;
    &.nav-down { //navigation down on scroll (see personal.js)
        top: 0;
    }
    .btn-primary {
        display: flex;
    }
    .menu-container {
        display: flex;
        gap: 1.5rem;
        .menu {
            display: flex;
            align-items: center;
            gap: 1.5rem;
            position: absolute;
            right: -200px;
            opacity: 0;
            transition: $transition;
            li {
                width: max-content;
                height: max-content;
                display: flex;
                align-items: center;
                text-align: center;
                a {
                    display: flex;
                    padding: 4px 0 !important;
                    color: $color-primary--lighter !important;
                    &:hover {
                        color: $color-primary !important;
                    }
                    .btn-icon--left {
                        margin-right: 0;
                    }
                    .btn-text {
                        display: none;
                    }
                }
                
                // Home > ".current_page_item"
                // Portfolio > ".current_page_parent"
                // Blog > ".current_page_item"
                
                &.current_page_item,
                &.current_page_parent {
                    a {
                        color: $color-primary !important;
                        border-bottom: 2px solid $color-primary;
                        transform: unset;
                        transition: unset;
                        cursor: default;
                    }
                }
    
                //Specific for Blog menú item
                &.menu-item-blog,
                &#menu-item-2874,
                &#menu-item-2919 { 
                    a {
                        color: $color-accent--lighter !important;
                    }
                    &:hover {
                        a {
                            color: $color-accent !important;
                        }
                    }
                    &.current_page_item {
                        a {
                            color: $color-accent !important;
                            border-bottom: 2px solid $color-accent;
                        }
                    }
                    &.current_page_parent {
                        a {
                            color: $color-accent !important;
                            border-bottom: 2px solid $color-accent;
                        }
                    }
                }
            }
        }
        .btn-menu-toggle {
            display: flex;
        }
    }
    &.toggled {
        .btn-primary {
            display: none;
        }
        .menu-container {
            .menu {
                position: relative;
                right: 0px;
                opacity: 1;
            }
        }
    }
}
@media (min-width: 576px) {
    .main-navigation {
        .menu-container {
            .menu {
                li {
                    a {
                        .btn-icon--left {
                            margin-right: .5rem;
                        }
                        .btn-text {
                            display: flex !important;
                        }
                    }
                }
            }
        }
    }
}
@media (min-width: 768px) {}
@media (min-width: 992px) {
    .main-navigation {
        justify-content: flex-start;
        padding: var(--size-500) var(--size-600);
        background-color: $color-neutral-white;
        .btn-primary {
            display: none;
        }
        .menu-container {
            .menu {
                position: relative;
                right: unset;
                opacity: 1;
                transform: translateX(0px) !important;
                display: flex;
                li {
                    &.current_page_item,
                    &.current_page_parent {
                        a {}
                    }
    
                    &:first-child {  //home button
                        a {
                            .btn-icon--left {
                                margin-right: .5rem;
                            }
                            .btn-text {
                                display: flex !important;
                            }
                        }
                    }
                }
            }
            .btn-menu-toggle {
                display: none;
            }
        }
    }
}
@media (min-width: 1400px) {}