@use '../generals/colors' as *;
@use '../generals/utility-classes' as *;

section.presentation {
    position: sticky;
    top: 96px;
    height: calc(100dvh - 96px);
    width: 100%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
    padding: var(--size-600);
    & > * {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: flex-start;
    }
    .presentation__central {
        max-width: 425px;
        flex-grow: 1;
        justify-content: flex-start;
        .breadcrumbs {
            order: 1;
            margin-bottom: var(--size-600);
        }
        .presentation__headlines {
            order: 3;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .presentation__description {
            order: 4;
        }
        .presentation__taxonomy {
            order: 2;
            color: var(--color-section-primary);
        }
    }
}

@media (min-width: 992px) {
    section.presentation {
        z-index: 2;
        .presentation__central {
            justify-content: flex-start;
            .presentation__headlines { align-items: flex-start; }
        }

        // Hide the scroll indicator on desktop, as the layout is different.
        .scroll-indicator {
            display: none;
        }
    }
}