@use '../generals/colors' as *;
@use '../generals/mixins' as *;

.project-tile {
    height: 100px;
    width: 100%;
    display: flex;
    gap: var(--size-200);
    // padding: var(--size-50);
    // border: 1px solid var(--color-border-primary);
    // border-radius: var(--size-200);
    overflow: hidden;

    .project__image {
        height: 100%;
        min-width: 120px;
        position: relative;
        flex: 0 0 20%;
        border-radius: var(--size-100);
        // border: 1px solid var(--color-border-primary);
        overflow: hidden;

        a {
            display: block;
            width: 100%;
            height: 100%;
        }
        div {
            all: unset;
        }

        img, video {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    .project__content {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: var(--size-50) 0;
        overflow: hidden;

        .project__header {
            display: flex;
            flex-direction: column;
            gap: var(--size-50);
            .breadcrumbs {
                display: block;
                // When a flex item (like .breadcrumbs) has `white-space: nowrap`, its minimum
                // width becomes the full width of its content. Setting `min-width: 0` allows
                // the item to shrink and be truncated by its parent flex container.
                min-width: 0;
                @include truncate-text;

                // Force list items to flow like text instead of flex items.
                .breadcrumbs__item, .breadcrumbs__separator {
                    display: inline;
                }
                // Replicate the flex `gap` with margin, as `gap` is not supported by `display: inline`.
                .breadcrumbs__separator { margin: 0 0.25rem; }
            }
            .project__title {
                a {
                    text-decoration: none;
                }
            }
        }
        .project__description {}
        .project__meta {
            display: flex;
            gap: var(--size-400);
        }
    }
}

@media (min-width: 1200px) {}