@use '../generals/colors' as *;

.project-tile {
    height: 100%;
    width: 100%;
    display: grid;
    gap: var(--size-400);

    .project__image {
        height: 100%;
        max-height: 300px;
        position: relative;
        border-radius: 8px;
        overflow: hidden;

        .project__section {
            position: absolute;
            top: var(--size-200);
            left: var(--size-200);
            z-index: 1;
        }

        a {
            display: block;
            width: 100%;
            height: 100%;
        }
        div {
            all: unset;
        }

        img, video {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .project__content {
        display: flex;
        flex-direction: column;
        gap: var(--size-500);

        .project__header {
            display: flex;
            flex-direction: column;
            gap: var(--size-50);
            .project__title {
                a {
                    text-decoration: none;
                }
            }
        }

        .project__description {
            display: flex;
            flex-direction: column;
            gap: var(--size-50);
            p {
                margin: 0;
            }
        }
    }
}

@media (min-width: 1200px) {}