@use '../generals/colors' as *;

// --- Scroll Indicator Component ---
// A reusable animated line to suggest scrolling.

.scroll-indicator {
    // The line container/track
    position: absolute;
    bottom: var(--size-900);
    left: 50%;
    transform: translateX(-50%);
    width: 5px;
    height: 35px;
    background: linear-gradient(to top, $color-neutral-300, rgba($color-neutral-300, 0));
    border-radius: 50px;
    overflow: hidden; // Crucial to contain the sliding gradient.

    // The moving gradient bar
    &::after {
        content: '';
        position: absolute;
        top: 100%; // Start the bar at the bottom of the container.
        left: 0;
        width: 100%;
        height: 33%; // The bar is 1/3 of the container's height.
        background: linear-gradient($color-blue, $color-rose);
        border-radius: 1rem;
        animation: scroll-up-animation 4s ease-in-out 1.8s infinite;
    }
}