.secondary-navigation {
    .menu-container {
        .menu {
            display: flex;
            align-items: center;
            gap: 1.5rem;
            li {
                a {
                    display: flex;
                    padding: 4px 0 !important;
                    color: $color-primary--lightest !important;
                    &:hover {
                        color: $color-primary !important;
                    }
                }
                
                // Home > ".current_page_item"
                // Portfolio > ".current_page_parent"
                // Blog > ".current_page_item"
                
                &.current_page_item,
                &.current_page_parent {
                    a {
                        color: $color-primary !important;
                        border-bottom: 2px solid $color-primary;
                    }
                }
    
                //Specific for Blog menú item
                &.menu-item-blog,
                &.menu-item-2874,
                &.menu-item-2919 { 
                    a {
                        color: $color-accent--lightest !important;
                    }
                    &:hover {
                        a {
                            color: $color-accent !important;
                        }
                    }
                    &.current_page_item {
                        a {
                            color: $color-accent !important;
                            border-bottom: 2px solid $color-accent;
                        }
                    }
                    &.current_page_parent {
                        a {
                            color: $color-accent !important;
                            border-bottom: 2px solid $color-accent;
                        }
                    }
                }
            }
        }
    }
}
@media (min-width: 576px) {
    .secondary-navigation {
        .menu-container {
            .menu {
                li {
                    a {
                        .btn-icon--left {
                            margin-right: .5rem;
                        }
                        .btn-text {
                            display: flex !important;
                        }
                    }
                }
            }
        }
    }
}
@media (min-width: 768px) {}
@media (min-width: 992px) {
    .secondary-navigation {
        display: none;
    }
}
@media (min-width: 1400px) {}