// Styles for single-portfolio template
.single-portfolio {
    .presentation__navbar {
        display:flex; align-items:center;
        justify-content: space-around;
    }
    .presentation__central {
        justify-content: center;
    }
    .presentation__link-home {
        color:#dd4b39 !important;
        font-size:.75rem;
        margin:0 1rem;
        text-decoration:none;
        text-transform:uppercase;
    }
    .presentation__link-home span {
        margin-right:.5rem;
    }
    .presentation__tag {
        background-color:#dd4b39; 
        border-radius:40px; 
        box-shadow:0 0 5px 0 rgba(0,0,0,.2); 
        font-size:.75rem; 
        letter-spacing:.03rem; 
        text-align:center; 
        text-transform: uppercase; 
        width: 120px; 
        height: 30px; 
        line-height: 32px; 
        color: #fff!important;
    }
    .presentation__tag a {
        text-decoration: none;
    }
    
    .case-study {
        display:grid;
        grid-template-rows:400px auto;
    }

    .case-study__article {
        position:relative;
    }
    .case-study__article a {
        color:#dd4b39;
    }

    .post-thumbnail{
        height:40vh;

        img {
            height:100%;
            object-fit: cover;
            object-position: center;
        }
    }

    .entry-content{
        margin: 0;
        
        h3 {
            margin: 1rem 0;
        }
        h4 {
            margin:1.5rem 0;
            line-height:2rem;
        }
        p {
            margin: .8rem 0;
        }
        .wp-block-group {
            padding:2rem;
        }
        .wp-block-group.full-width {
            padding:0;
            margin: 6rem 0 6rem 0;
        }
        .wp-block-image, .wp-block-embed {
            margin-bottom: 3rem;
        }
        .wp-block-image img {
            box-shadow: 0 0 20px #c1c1c1;
        }
        .paragraph__featured {
            background:#dd4b39;
            box-shadow:0 0 10px 0 rgba(0,0,0,.4);
            color:white;
            padding:2rem;

            strong {
                color: white;
                font-weight: 800;
            }
        }
        .paragraph__featured-2 {
            background:rgb(245, 245, 245);
            padding:2rem;
            border: 1px solid #ccc;
            
            p, ul {
                font-size:.875rem;
            }
        }
        .wp-block-quote {
            background:#f1f1f1;
            box-shadow:0 0 10px 0 rgba(0,0,0,.4);
            font-style: italic;
            padding: 3rem;

            p{
                font-size:1rem;
                line-height:2rem;
            }
        }

        ul {
            margin-left: 2rem;
            position: relative;

            li {
                margin-top: .5rem;
                line-height: 1.4rem;

                &::before {
                    content: "";
                    width: 12px;
                    height: 3px;
                    background: #dd4b39;
                    position: absolute;
                    left: -1.2rem;
                    margin-top: 9px;
                }


                li::before{
                    width:5px; height: 5px;
                    border-radius:5px;}
                
            }
            li:first-child {
                margin-top: .5rem;
            }
        }
        .credit {
            color:#868686;
            font-size:.875rem;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            a {
                margin-left: .5rem;
            }
            figcaption {
                margin: 0;
                font-style: italic;
            }
        }
        figcaption {
            color:#868686;
            font-size: .75rem;
            font-style: italic;
            margin-top: 1rem;
            text-align: center;
        }
    }

    @media (min-width: 768px) {
        .entry-content {
            .paragraph__featured {}
        }
    }
    @media (min-width: 992px) {
        .entry-content {
            .wp-block-group {
                padding:4rem;
            }
            .paragraph__featured {
                padding:4rem 0;
            }
        }
        
    }
}
