// GENERAL STYLES
html {
    font-size: 16px;
}
body {
    font-family: 'Poppins', sans-serif;
    color: #484848;
}
h1 {
    font-weight: 700;
    text-align: right;
    margin: 0;
}
h2 {
    font-weight: 100;
    letter-spacing: 0.03rem;
    text-align: right;
}
h3 {
    font-size:1.14rem;
}
p {
    font-size: 1.14rem;
    font-weight: 100;
}
// /GENERAL STYLES

// SOBRESCRIBE
a:visited {
    color: unset;
}
.page {
    margin: 0;
}
// /SOBRESCRIBE



// MAIN STYLE
.container {
    display: grid;
    grid-template-columns: 35% 65%;
}


.left {
    background-color: #fafafa;
    position: sticky;
    top: 0;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 10%;
}

.portfolio {
    background-color: beige;
}
article{
    height: 70vh;
    position: relative;
}
.portfolio__bgimage--full {
    background-size: cover;
    background-position: center left;
}
.portfolio__bgimage--center {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
.article-1{
    background-color: #f4b93d;
    background-image: url("../img/1.jpg");
}
.article-2{
    background-color: #005ba9;
    background-image: url("../img/2.png");
}
.article-3{
    background-color: #b4ddbf;
    background-image: url("../img/3.png");
}
.article-4{
    background-color: #fff;
    background-image: url("../img/4.jpg");
}
.project__caption {
    position: absolute;
    bottom: 5%;
    left: 5%;
}
.project__caption--white {
    color: white;
}
.project__caption--black {
    color: #484848;
}
.project_number {
    margin: 0 0 1.5rem 0;
}
.project_name, .project_company_type {
    margin: 0;
}
.project_link {
    display: inline-block;
    margin: 1.5rem .5rem 0 0;
}
/*
@media only screen and (min-width: 600px) and (max-width: 1000px) {
    h1 {font-size: 1.5rem; line-height: 1.8rem;}
    h2 {font-size: .85rem; line-height: 1rem; letter-spacing: 0rem;}
    .container {display: grid; grid-template-columns: 40% 60%;}
    .left {padding: 1.2rem;}
    .icon::before {font-size: 1rem !important;}
}
*/

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575px) { 
    .container { display: grid; grid-template-columns: 1fr;}
    h1 {font-size: 2.2rem; line-height: 2.6rem;}
    h2 {font-size: 1rem; line-height: 1.2rem; margin: 2rem 0 4rem 0;}
    article{height: 100vh; position: relative;}
    .full_bg_image {background-size: cover; background-position: center center;}
    .center_bg_image {background-size: 80%; background-repeat: no-repeat; background-position: center center;}
    .icon::before {font-size: 1rem !important;}
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .container { display: grid; grid-template-columns: 1fr;}
    h1 {font-size: 2.6rem; line-height: 3rem;}
    h2 {font-size: 1.2rem; line-height: 1.75rem; margin: 2rem 0 4rem 0;}
}
 
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
    .container { display: grid; grid-template-columns: 1fr;}
}
 
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .container { display: grid; grid-template-columns: 45% 55%;}
    h1 {font-size: 2.6rem; line-height: 3rem;}
    h2 {font-size: 1.2rem; line-height: 1.75rem; margin: 2rem 0 4rem 0;}
}
 
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
    h1 {font-size: 3.125rem; line-height: 3.4rem;}
}



















// /MAIN STYLE

// SOCIAL ICONS
.social-icons {
    // position: absolute;
    // bottom: 3%;
    // right: 10%;
    margin: 0;
}
ul {
    list-style-type: none;
    color: #ACACAC;
    // justify-self: flex-end;
    // transform: translateY(1300%);
}
li{
   float: left;
   margin: 0 0 0 1.2rem; 
}
.icon::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-size: 1.25rem;
  }

  .dribbble::before {
    font-family: "Font Awesome 5 Brands"; font-weight: 100; content: "\f17d";
  }
  .behance::before {
    font-family: "Font Awesome 5 Brands"; font-weight: 100; content: "\f1b4";
  }
  .github::before {
    font-family: "Font Awesome 5 Brands"; font-weight: 100; content: "\f09b";
  }
  .linkedin::before {
    font-family: "Font Awesome 5 Brands"; font-weight: 100; content: "\f0e1";
  }
  .email::before {
    font-family: "Font Awesome 5 Free"; font-weight: 100; content: "\f0e0";
  }

  .dribbble, .behance, .github, .linkedin, .email {
    display: inline-block;
    transition: all .2s ease-out;
}
.dribbble:hover, .behance:hover, .github:hover, .linkedin:hover, .email:hover,  {
    transform: translateY(-3px);
}
.dribbble:hover {
    color: #ea4c89;
}
.behance:hover {
    color: #1769ff;
}
.github:hover {
    color: #333;
}
.linkedin:hover {
    color: #0077b5;
}
.email:hover {
    color: #dd4b39;
}
// /SOCIAL ICONS