/* For the moment same layout for all the pages */
.container {
    display:grid;
    grid-template-columns:1fr;
    &>* {
        padding: var(--size-500);
    }
    &::before {
        all: unset !important;
    }
    section.presentation {
        width: 100%;
        position: sticky;
        z-index: 1;
        top: 0;
        height: 100dvh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        background-color: $color-neutral-200;
        box-sizing: border-box;
    }
    section.showcase {
        position: relative;
        z-index: 2;
        display: grid;
        grid-template-columns: 1fr;
        row-gap: var(--size-700);
        background-color: $color-neutral-white;
    }
    section.blog, section.portfolio {
        position: relative;
        z-index: 2;
        display: grid;
        background-color: $color-neutral-white;
    }
}

@media (min-width: 576px) {}
@media (min-width: 768px) {}
@media (min-width: 992px) { 
    .container {
        grid-template-columns: minmax(420px, 0.4fr) 1fr;
        &>* {
            padding: var(--size-700);
        }
        section.presentation {
            align-items: flex-start;
            z-index: 2;
            // box-shadow: rgba(0, 0, 0, 0.06) 10px 0px 10px 0px;
        }
        section.showcase {
            gap: var(--size-700);
        }
        section.blog, section.portfolio {
            z-index: 1;
        }
    }
}
@media (min-width: 1200px) {
    .container {
        section.showcase {
            grid-template-columns: 1fr 1fr;
        }
    }
}








//Set specific colors for all Blog or Portfolio pages
section.blog {
    a, strong {
        color: $color-accent !important;
    }
    .wp-block-group-featured {
        background-color: $color-accent !important;
    }
    .entry-content ul li::before {
        background: $color-accent !important;
    }
}
section.portfolio {
    a, strong {
        color: $color-primary !important;
    }
    .wp-block-group-featured {
        background-color: $color-primary !important;
    }
    .entry-content ul li::before {
        background: $color-primary !important;
    }
}