@use '../generals/colors' as *;

/* For the moment same layout for all the pages */
main.container {
    display:grid;
    grid-template-columns: 1fr;
    margin-top: 96px;

    &::before {
        all: unset !important;
    }

}

@media (min-width: 576px) {}
@media (min-width: 768px) {}
@media (min-width: 992px) { 
    main.container {
        grid-template-columns: minmax(420px, 0.32fr) 1fr;
    }
}
@media (min-width: 1400px) {}