.container-archive {
    .blog, .portfolio {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: var(--size-800);
        background-color: $color-neutral-white;
        article {
            display: grid;
            gap: var(--size-600);
            .article__thumbnail {
                height: 240px;
                border-radius: 8px;
                overflow: hidden;
                img {
                    height: 100%;
                    object-fit: cover;
                }
            }
            .article__description {
                padding-left: var(--size-500);
                h2 {}
                small {
                    display: block;
                    margin-top: var(--size-200);
                    margin-bottom: var(--size-500);
                }
                p {}
                a {
                    text-decoration: none;
                }
            }
        }
    }
}
@media (min-width: 576px) {}
@media (min-width: 768px) {}
@media (min-width: 992px) {
    .container-archive {
        .blog, .portfolio {
            position: unset;
        }
    }
}
@media (min-width: 1200px) {
    .container-archive {
        .blog, .portfolio {
            article {
                grid-template-columns: 1fr 2.2fr;
                gap: 0;
                .article__thumbnail {}
            }
        }
    }
}