@use '../../components/experience-card';

.experience {
    .experience-timeline {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: var(--size-600);
        padding-left: 32px;
    }
}
