@use 'colors' as *;

// --- Base HTML & Body Styles ---

// This file contains the foundational styles for the entire document.

body {
  font-family: var(--ff-body);
  font-weight: var(--fw-regular);
  color: var(--color-text-primary);
  background-color: var(--color-surface-page); // Base background color for the entire site.
}
