// COLORS

// Color Primary
$color-primary--lightest: #DFE2FC;
$color-primary--lighter: #7F8AF4;
$color-primary: #5F6DF1;
$color-primary--darker: #4D58C8;
$color-primary--darkest: #282F77;

// Color Accent
$color-accent--lightest: #F9D5F6;
$color-accent--lighter: #E855D9;
$color-accent: #E22BD0;
$color-accent--darker: #B522A6;
$color-accent--darkest: #5A1153;

// Color Gradient
$color-gradient: linear-gradient(135deg, hsl(234, 84%, 66%) 0%, hsl(306, 76%, 53%) 100%);

// Color Neutral
$color-neutral-white: #fff;
$color-neutral-200: #fafafa;
$color-neutral-300: #eeeeee;
$color-neutral-500: #8f8f8f;    
$color-neutral-600: #686868;
$color-neutral-700: #333333;
$color-neutral-black: black;

// Color Specific
$color-dribbble: #ea4c89;
$color-behance: #1769ff;
$color-github: #333;
$color-linkedin: #0077b5;
$color-codepen: rgb(189, 189, 189);

//Color Box-Shadow
$box-shadow-dp1: 1px 1px 1px 1px rgba($color-neutral-500, 0.15);
$box-shadow-dp2: 0px 10px 10px 0px rgba($color-neutral-500, 0.10);



// Utility Classes
.text-gradient {
    background: $color-gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}