
// UTILITY CLASSES for Spacing

.padding-block-0 {padding-block: var(--size-0)}
.padding-block-50 {padding-block: var(--size-50)}
.padding-block-100 {padding-block: var(--size-100)}
.padding-block-200 {padding-block: var(--size-200)}
.padding-block-300 {padding-block: var(--size-300)}
.padding-block-400 {padding-block: var(--size-400)}
.padding-block-500 {padding-block: var(--size-500)}
.padding-block-600 {padding-block: var(--size-600)}
.padding-block-700 {padding-block: var(--size-700)}
.padding-block-800 {padding-block: var(--size-800)}
.padding-block-900 {padding-block: var(--size-900)}
.padding-block-950 {padding-block: var(--size-950)}

.padding-inline-0 {padding-inline: var(--size-0)}
.padding-inline-50 {padding-inline: var(--size-50)}
.padding-inline-100 {padding-inline: var(--size-100)}
.padding-inline-200 {padding-inline: var(--size-200)}
.padding-inline-300 {padding-inline: var(--size-300)}
.padding-inline-400 {padding-inline: var(--size-400)}
.padding-inline-500 {padding-inline: var(--size-500)}
.padding-inline-600 {padding-inline: var(--size-600)}
.padding-inline-700 {padding-inline: var(--size-700)}
.padding-inline-800 {padding-inline: var(--size-800)}
.padding-inline-900 {padding-inline: var(--size-900)}
.padding-inline-950 {padding-inline: var(--size-950)}

.padding-0 {padding: var(--size-0)}
.padding-50 {padding: var(--size-50)}
.padding-100 {padding: var(--size-100)}
.padding-200 {padding: var(--size-200)}
.padding-300 {padding: var(--size-300)}
.padding-400 {padding: var(--size-400)}
.padding-500 {padding: var(--size-500)}
.padding-600 {padding: var(--size-600)}
.padding-700 {padding: var(--size-700)}
.padding-800 {padding: var(--size-800)}
.padding-900 {padding: var(--size-900)}
.padding-950 {padding: var(--size-950)}

// Margins
.margin-block-0 {margin-block: var(--size-0)}
.margin-block-50 {margin-block: var(--size-50)}
.margin-block-100 {margin-block: var(--size-100)}
.margin-block-200 {margin-block: var(--size-200)}
.margin-block-300 {margin-block: var(--size-300)}
.margin-block-400 {margin-block: var(--size-400)}
.margin-block-500 {margin-block: var(--size-500)}
.margin-block-600 {margin-block: var(--size-600)}
.margin-block-700 {margin-block: var(--size-700)}
.margin-block-800 {margin-block: var(--size-800)}
.margin-block-900 {margin-block: var(--size-900)}
.margin-block-950 {margin-block: var(--size-950)}

.margin-inline-0 {margin-inline: var(--size-0)}
.margin-inline-50 {margin-inline: var(--size-50)}
.margin-inline-100 {margin-inline: var(--size-100)}
.margin-inline-200 {margin-inline: var(--size-200)}
.margin-inline-300 {margin-inline: var(--size-300)}
.margin-inline-400 {margin-inline: var(--size-400)}
.margin-inline-500 {margin-inline: var(--size-500)}
.margin-inline-600 {margin-inline: var(--size-600)}
.margin-inline-700 {margin-inline: var(--size-700)}
.margin-inline-800 {margin-inline: var(--size-800)}
.margin-inline-900 {margin-inline: var(--size-900)}
.margin-inline-950 {margin-inline: var(--size-950)}
.margin-inline-auto {margin-inline: auto;}

.margin-0 {margin: var(--size-0)}
.margin-50 {margin: var(--size-50)}
.margin-100 {margin: var(--size-100)}
.margin-200 {margin: var(--size-200)}
.margin-300 {margin: var(--size-300)}
.margin-400 {margin: var(--size-400)}
.margin-500 {margin: var(--size-500)}
.margin-600 {margin: var(--size-600)}
.margin-700 {margin: var(--size-700)}
.margin-800 {margin: var(--size-800)}
.margin-900 {margin: var(--size-900)}
.margin-950 {margin: var(--size-950)}


// UTILITY CLASSES for Typography (+ HTML typography tags styles)

// Font Weight
.fw-regular {font-weight: var(--fw-regular);}
.fw-medium {font-weight: var(--fw-medium);}
.fw-bold {font-weight: var(--fw-bold);}
.fw-extrabold {font-weight: var(--fw-extrabold);}

// Text Color
.tc-primary {color: $color-primary;}
.tc-accent {color: $color-accent;}
.tc-neutral-500 {color: $color-neutral-500;}
.tc-neutral-600 {color: $color-neutral-600;}
.tc-neutral-700 {color: $color-neutral-700;}
.tc-neutral-black {color: $color-neutral-black;}

// Text Align
.ta-left {text-align: left;}
.ta-center {text-align: center;}
.ta-right {text-align: right;}

// Text Transform
.tt-low {text-transform: lowercase;}
.tt-cap {text-transform: capitalize;}
.tt-up {text-transform: uppercase;}

// Text Headings & Paragraphs
.text-display-1,
.text-display-2,
.text-heading-1 {font-size: var(--fs-800); line-height: var(--lh-200); letter-spacing: var(--ls-dense); font-weight:var(--fw-extrabold)}
.text-heading-2 {font-size: var(--fs-750); line-height: var(--lh-200); letter-spacing: var(--ls-dense); font-weight:var(--fw-bold)}
.text-heading-3 {font-size: var(--fs-700); line-height: var(--lh-200); letter-spacing: var(--ls-dense); font-weight:var(--fw-bold)}
.text-heading-4 {font-size: var(--fs-650); line-height: var(--lh-200); letter-spacing: var(--ls-dense); font-weight:var(--fw-bold)}
.text-heading-5 {font-size: var(--fs-600); line-height: var(--lh-200); font-weight:var(--fw-bold)}
.text-heading-6 {font-size: var(--fs-500); line-height: var(--lh-200); font-weight:var(--fw-bold)}
.text-md-body-1 {font-size: var(--fs-400); line-height: var(--lh-700);}
.text-md-body-2 {font-size: var(--fs-300); line-height: var(--lh-700);}
.text-sm {font-size: var(--fs-200); line-height: var(--lh-700);}
.text-xs {font-size: var(--fs-100); line-height: var(--lh-700);}
.text-xxs {font-size: var(--fs-100); line-height: var(--lh-700);}

@media (min-width: 992px) {
    .text-display-1 {font-size: var(--fs-950);}
    .text-display-2 {font-size: var(--fs-900);}
    .text-heading-1 {font-size: var(--fs-850);}
    .text-heading-2 {font-size: var(--fs-800);}
    .text-heading-3 {font-size: var(--fs-750);}
    .text-heading-4 {font-size: var(--fs-700);}
    .text-heading-5 {font-size: var(--fs-650);}
    .text-heading-6 {font-size: var(--fs-600);}
    .text-md-body-1 {font-size: var(--fs-500);}
    .text-md-body-2 {font-size: var(--fs-400);}
    .text-sm {font-size: var(--fs-300);}
    .text-xs {font-size: var(--fs-200);}
    .text-xxs {font-size: var(--fs-100);}
}

.text-btn {
    font-size: var(--fs-300) !important;
    font-weight: var(--fw-medium) !important;
    text-transform: uppercase !important;
}