@use '../../generals/colors' as *;


.content {
    & > *:not(.site-footer) {
        border-radius: 1rem;
        overflow: hidden;
    }
    section {
        position: relative;
        min-height: 100vh;
        z-index: 2;
        display: grid;
        grid-template-columns: 1fr; // Default: 1 column (< 576px)
        align-items: start;
        align-content: start;
        gap: var(--size-900);
        padding: var(--size-600);
        background-color: var(--color-surface-content);
        overflow: hidden;
    }
    section.showcase {
        gap: var(--size-600);
    }
}

@media (min-width: 576px) {
    .content {
        section.showcase {
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        }
    }
}
@media (min-width: 768px) {}
@media (min-width: 992px) {}
@media (min-width: 1050px) {}
@media (min-width: 1400px) {}