section.presentation {
    padding: var(--size-600);
    padding-top: 0;
    & > * {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .presentation__header {
        top: var(--size-600);
        z-index: 1;
    }
    .presentation__central {
        max-width: 425px;
        flex-grow: 1;
        justify-content: center;
        .presentation__availability {
            order: 1;
            position: relative;
            margin-block: -6rem 6rem;
        }
        .presentation__nav-tax {
            order: 2;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: .5rem;
            margin-block: -2rem 2rem;
        }
        .presentation__headlines {
            order: 3;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .presentation__description {
            order: 4;
        }
    }
    .presentation__links {
        .presentation__resume {
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            gap: 4px;
        }
    
    }
}

@media (min-width: 992px) {
    section.presentation {
        & > * {
            align-items: flex-start !important;
            text-align: left;
        }
        .presentation__header {
            display: none;
        }
        .presentation__central {
            .presentation__headlines {
                align-items: flex-start;
            }
        }
        .presentation__links {
            .presentation__resume {
                justify-content: flex-start;
            }
        }
    }
}