@use '../../generals/colors' as *;

.process {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--size-700) var(--size-500);
    .process__description {
        display: grid;
        gap: 0;
        .even-columns {
            text-align: justify;
        }
        .process__image {
            width: 100%;
            height: 250px;
            object-fit: contain;
            object-position: center;
        }
    }
    .process__toolkit {
        display: grid;
        grid-auto-flow: row;
        gap: var(--size-700);
        grid-template-columns: repeat(auto-fit, minmax(10em, 25em));
        .column {
            position: relative;
            min-width: 200px;;
            text-align: center;
            .slider {}
            .slider, .no-slider {
                .slide {
                    text-align: center;
                    ul {
                        display: flex;
                        flex-flow: row wrap;
                        justify-content: center;
                        margin: -5px;
                        .chip {
                            margin: 5px;
                        }
                    }
                }
            }
            // #slider-controls {
            //     width: 100%;
            //     position: absolute;
            //     top: 50%;
            //     transform: translateY(-50%);
            //     .previous, .next {
            //         background: none;
            //         border: none;
            //         padding: 0;
            //         margin: 0 5px;
            //         color: $color-blue;
            //         cursor: pointer;
            //     }
            //     .previous {
            //         position: absolute;
            //         left: -10%;
            //     }
            //     .next {
            //         position: absolute;
            //         right: -10%;
            //     }
            // }
            .slider-nav {
                width: 100%;
                position: absolute;
                top: 37px;
                display: flex;
                justify-content: center;
                margin: 0 -5px;;
                text-align: center;
                & > li {
                    position: relative;
                    font-size: var(--fs-300);
                    font-weight: var(--fw-bold);
                    text-transform: uppercase;
                    margin: 0 8px;
                    color: $color-neutral-700;
                    opacity: .3;
                    cursor: pointer;
                    &::before {
                        content: '';
                        position: absolute;
                        left: -6px;
                        bottom: -6px;
                        height: 3px;
                        width: 120%;
                        background-color: $color-neutral-700;
                        opacity: 0;
                    }
                    h6 {
                        margin: 5px 0;
                    }
                    &.tns-nav-active {
                        font-weight: var(--fw-bold);
                        color: $color-blue;
                        opacity: 1;
                        &::before {
                            background-color: $color-blue;
                            opacity: 1;
                        }
                    }
                }

            }
        }
    }
}

@media (min-width: 768px) {
    .process {
        padding: var(--size-700);
        .process__toolkit {
            // #slider-controls {
            //     width: 100%;
            //     top: 50%;
            //     transform: translateY(-50%);
            // }
        }
    }
}
@media (min-width: 992px) {}
@media (min-width: 1200px) {
    .process {
        .process__description {
            grid-auto-flow: column;
            grid-auto-columns: 1fr;
            gap: var(--size-700);
        }
        .process__toolkit {
            // width: 600px;
            display: grid;
            width: 100%;
            grid-auto-columns: 1fr;
            grid-auto-flow: column;
            // #slider-controls {
            //     width: 100%;
            //     top: 50%;
            //     transform: translateY(-50%);
            // }
        }
    }
}
@media (min-width: 1600px) {}