// HOME -> right-side

.showcase {
    a {
        text-decoration: none;
    }
    article {  //.project-full & .project-half
        position: relative;
        display: grid !important;
        overflow: hidden;
        .project__image {
            width: 100%;
            height: 350px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 8px;
            overflow: hidden;
            a {
                height: 100%;
                width: 100%;
                display: flex;
                place-content: center;
            }
            .project__img,
            .project__video {
                align-self: center;
                justify-self: center;
                &--contain {
                    width: 80%;
                    height: 80%;
                    object-fit: contain;
                    object-position: center;
                }
                &--cover {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }
        }

        .project__section {
            position: absolute;
            top: var(--size-600);
            left: var(--size-600);
            .chip-list {
                .chip {
                    &__sub-category {
                        margin-left: -10px;
                        z-index: -1;
                        padding-left: 20px;
                    }
                }
            }
        }
        .project__caption {
            .project__subtitle {
                letter-spacing: 3px;
                color: $color-primary--lighter;
            }
            .project__title {
                font-weight: var(--fw-semi-bold);
                line-height: 120%;
            }
        }
        .project__links {
            .project__links--item {
                display: inline-block;
                margin-right: .5rem;
                font-size: var(--fs-600);
                vertical-align: middle;
            }
        }
        .project__kit {
            position: absolute;
            bottom: var(--size-900);
            right: var(--size-600);
            display: flex;
            margin: 0 -.5rem;
            padding: 0;
            font-size: var(--fs-600);
            opacity: 0.9 !important;
            &--item {
                float: left;
                margin: 0 .5rem;
                color: $color-neutral-white !important;
            }
        }
        .project__tags {
            display: flex;
            flex-flow: row wrap;
            margin: -5px;
            padding: 0;
             & > * {
                margin: 5px;
                opacity: 0.9;
             }
        }
    }
}


@media (max-width: 991px) {
    .project-full {
        height: max-content;
    }
}

@media (min-width: 992px) {
    .project-full {
        height: max-content;
    }
}

