@use '../../generals/colors' as *;

// Styles for single-portfolio template
body.single-post, body.single-portfolio { // --> inject in the body
    main.container { // --> inject from single-portfolio.php
        .content {
            section {
                padding: 0; //para que no herede el padding de los section en _content.scss, así las imagenes son full-width
                grid-auto-rows: unset;
                align-content: unset;
                align-items: unset;
            }
        }
        .thumbnail {
            position: relative;
            .tags {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 10px;
                width: max-content;
                max-width: 100%;
                position: absolute;
                bottom: 20px;
                left: 50%;
                transform: translateX(-50%);
                .chip-list {
                    align-items: center;
                    justify-content: center;}
            }
            &.has-image {
                height: 500px;
            }
            &.has-video {
                height: 100vh;
            }
            img, video {
                height: 100%;
                width: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
        .entry-content {
            height: max-content;
            margin: 0;
            .wp-block-group {
                padding: var(--size-400);
                &.wp-block-group-featured {
                    position: relative; // 1. Crea un contexto de posicionamiento para el pseudo-elemento.
                    margin-block: var(--size-600);
                    border-radius: 8px;
                    border: 1px solid var(--color-border-secondary);
                    background-color: var(--color-surface-secondary);
                    color: var(--color-text-brand);
                    overflow: hidden;
                }
                p {
                    a::after {
                        display: inline-block;
                        text-rendering: auto;
                        -webkit-font-smoothing: antialiased;
                        // font-family: 'Font Awesome 5 Free';
                        font: var(--fa-font-solid);
                        content: '\f35d';
                        margin-left: .25rem;
                        font-size: var(--fs-200);
                    }
                }
            }
            .wp-block-image,
            .wp-block-embed {
                margin-bottom: 2rem;
            }
            .wp-block-video {
                height: 100%;
                video {
                    height: 100%;
                    object-fit: cover;
                }
            }
            .wp-block-image img {}
            ul, ol {
                position: relative;
                margin: 0 0 var(--size-600) var(--size-400);
                li {
                    margin-top: 1rem;
                    &::before {
                        content: "";
                        position: absolute;
                        left: -1rem;
                        width: 6px;
                        height: 2px;
                        margin-top: .85rem;
                        background: var(--color-text-brand);
                    }
                }
            }
            ol {
                list-style: decimal;
                li {
                    margin-top: 1rem;
                    &::before {
                        content: none;
                    }
                }
            }
        }
        @media (min-width: 768px) {
            .entry-content {
                .wp-block-group {
                    padding: var(--size-600);
                }
            }
        }
        @media (min-width: 992px) {}
        @media (min-width: 1200px) {}
        @media (min-width: 1600px) {}
    }
}
