// Styles for single-portfolio template
.single-post, .single-portfolio { // --> inject in the body
    .container { // --> inject from single-portfolio.php
        
        .thumbnail {
            position: relative;
            .post-thumbnail {
                height: 60vh;
                img {
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            }
            .chip-list {
                width: max-content;
                max-width: 100%;
                position: absolute;
                bottom: 20px;
                left: 50%;
                transform: translateX(-50%);
                justify-content: center;
            }
        }
        .entry-content {
            height: 100%;
            margin: 0;
            .wp-block-group {
                padding: 1rem;
                &.wp-block-group-featured {
                    margin: 1rem 0;
                    color: $color-neutral-white !important;
                }
                &.wp-block-group-featured-2 {
                    background: $color-neutral-200;
                }
                p {
                    a::after {
                        display: inline-block;
                        text-rendering: auto;
                        -webkit-font-smoothing: antialiased;
                        // font-family: 'Font Awesome 5 Free';
                        font: var(--fa-font-solid);
                        content: '\f35d';
                        margin-left: .25rem;
                        font-size: 12px;
                    }
                }
            }
            .wp-block-image,
            .wp-block-embed {
                margin-bottom: 2rem;
            }
            .wp-block-video {
                height: 100%;
                video {
                    height: 100%;
                    object-fit: cover;
                }
            }
            .wp-block-image img {
                // box-shadow: $box-shadow;
            }
            .wp-block-quote {
                background: #f1f1f1;
                box-shadow: $box-shadow-dp1;
                font-style: italic;
                padding: 2rem;
            }
            .credit {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                color: $color-neutral-500;
                font-size: var(--fs-400);
                a {
                    margin-left: .5rem;
                }
            }
            ul {
                position: relative;
                margin: 0 0 2rem 1rem;
                li {
                    margin-top: 1rem;
                    &::before {
                        content: "";
                        position: absolute;
                        left: -1rem;
                        width: 6px;
                        height: 2px;
                        margin-top: .85rem;
                    }
                }
            }
        }
        @media (min-width: 768px) {
            .entry-content {
                .wp-block-group {
                    padding: 2rem 4rem;
                }
            }
        }
        @media (min-width: 992px) {}
        @media (min-width: 1200px) {}
        @media (min-width: 1600px) {
            .entry-content {
                .wp-block-group {
                    padding: 2rem 8rem;
                }
            }
        }
    }
}


